@model List<CandyBug.Areas.Admin.Model.EF.HoaDon>

@{
    ViewBag.Title = "Xóa đơn hàng";
}

<div id="tieuDeBonChuTroXuong">
    <h2>Xóa đơn hàng</h2>
</div>

<div id="noiDungHoaDon">
    <h4>Thông tin đơn hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Mã hóa đơn</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.maHoaDon</p>
        </dd>

        <dt>
            <strong>Ngày tạo</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.ngayTao</p>
        </dd>

        <dt>
            <strong>Trạng thái</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.trangThai</p>
        </dd>

        <dt>
            <strong>Địa chỉ</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.diaChi</p>
        </dd>

        <dt>
            <strong>Ngày giao</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.ngayGiao</p>
        </dd>

        <dt>
            <strong>Số điện thoại</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.soDienThoai</p>
        </dd>

        <dt>
            <strong>Nhân viên</strong>
        </dt>

        <dd>
            <p>@ViewBag.HoaDon.tenNhanVien</p>
        </dd>

    </dl>
    <hr />
    <h3>Danh mục sản phẩm</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().maHoaDon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().tenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().soLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().tongTien)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.maHoaDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.soLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tongTien)
                </td>
            </tr>
        }

    </table>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div id="buttonLink" class="form-actions no-color">
            <input id="btnSave" type="submit" value="Delete" class="btn btn-success" />
            <button class="btn btn-danger">@Html.ActionLink("Quay lại", "Index", "OrderManage")</button>
        </div>
    }
</div>
